
.buildpath
.project
/.settings
/.svn
error.log
resources/sql/WebAutomation.bak
resources/Fahrstuhl.mp3
system/Helper/openforecastexample.json
system/Helper/openweatherexample.json
Thumbs.db
WebAutomation.Site.code-workspace
