
.buildpath
.project
/.settings
/.svn
error.log
system/sql/WebAutomation.bak
system/Fahrstuhl.mp3
system/Helper/openforecastexample.json
system/Helper/openweatherexample.json
Thumbs.db
WebAutomation.Site.code-workspace
