/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 26.01.2014                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 677                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: buero.css 677 2024-07-15 13:51:59Z                       $ #
//#                                                                                 #
//###################################################################################
?> esszimmer */

@media screen and (min-width:1024px) {
	.page { background:transparent url(images/buero.png) center top no-repeat; background-size:100%; width:100%; height:100%; position:relative; margin:auto; }
	.page * { position:absolute; }
	.page .ps-zimmer-info { bottom:20px; left:20px; }
	.page .ps-button { padding:8px 25px; }

	#RT { top:68px; left:481px; background:transparent url(images/visuelemente/Fuehler.png) -200px 0px no-repeat; height:25px; width:25px; }
	#RT_FL { top:168px; left:481px; background:transparent url(images/visuelemente/Fuehler.png) -200px 0px no-repeat; height:25px; width:25px; }
	#RT span, #RT_FL span { left:20px; }
	#RT span.sw, #RT_FL span.sw { top:25px; }
	#RT span.iw, #RT_FL span.iw { top:0px; }

	.FK .ps-input { top:20px; }
	#FK { top:331px; left:602px; }

	#LI { top:69px; left:220px; }
	#LI_KL { top:184px; left:380px; }
	#LI_FL { top:172px; left:555px; }
}

#LI { top:139px; left:275px; } /* new: checker 2021-07-10T14:29:33 */
#LI_KL { top:214px; left:380px; } /* new: checker 2021-07-10T14:29:35 */
#KE_FK { top:20px; left:500px; } /* new: checker 2021-07-14T23:00:36 */
#RT { top:63px; left:361px; } /* new: checker 2022-01-11T07:43:02 */
