/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 19.10.2023                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 543                                                     $ #
//# Author       : $Author:: checker                                              $ #
//# File-ID      : $Id:: decode.css 543 2023-12-14 04:15:30Z checker              $ #
//#                                                                                 #
//###################################################################################
?> decode */
div.center { position:relative; width:1860px; margin:auto; margin-top:15px; }
div.center * { position:absolute; }
