/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 13.04.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 706                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: mudda.css 706 2024-11-04 15:08:34Z                       $ #
//#                                                                                 #
//###################################################################################
?> mudda */

<? require_once 'style/system/wpAnalogOut.css'; ?>

.pagecontent { background:transparent url(images/uebersicht_haus.png) center center no-repeat; background-size:100% auto; }
@media (orientation: portrait) {
	.pagecontent { background-size:auto 100%; }
}
#mudda table { margin:auto; }
#ergTemp, #ergHum { display:block; width:100%; height:300px; }

#mudda .forecast, #mudda .cleanMyTrends { min-width: 100px; width: auto; }
#mudda .legend > div:first-child { padding:5px;border-radius:10px;
	box-shadow:6px 6px 8px 0px #222; }
#mudda .legend table { margin:5px; }
#mudda .legendLabel { padding:2px 5px; text-align:left; cursor:pointer; }
#mudda .legendLabel .ps-fontgrey { color:#888; }

@media (orientation: portrait) {
	#mudda span { font-size:18px; }
	#mudda .ps-button { padding:25px 6px; }
	#mudda .ui-slider .ui-slider-handle { width:30px; height:30px; margin-left:-7px; }
	#mudda .ps-input { font-size:18px; padding:5px; }
	#mudda .ps-pluginbutton { font-size:40px; }
	#mudda span.hand.pa-hide { top:3px; }
	#mudda span.wpa-indikator { top:8px; }
}
