/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 27.07.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 700                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: pia.css 700 2024-10-14 00:13:37Z                         $ #
//#                                                                                 #
//###################################################################################
?> pia */

<? require_once 'style/system/wpNeoPixel.css'; ?>
<? require_once 'style/system/wpCwWw.css'; ?>
<? require_once 'style/system/wpRGB.css'; ?>

#pia h2, #pia p,
#pia .buttonContainer { text-align:center; }
#pia .topic-slider { margin:10px 0; }

#pia .indikatoContainer { position:relative; width:122px; }
#pia .ps-operable { cursor:pointer; }
#dialog .newDpVal { width:auto; min-width:250px; }

.AllSleep .AllSleepSlider { margin:15px auto; }
.AllSleep .AllSleepSlider a { text-decoration:none; outline:none; }
.AllSleep .AllSleepSlider .ui-slider-handle { margin-left:-2px; }
.AllSleep .AllSleepHour,
.AllSleep .AllSleepMinute { width:30px; min-width:30px; }
.AllSleep .AllSleepUnit { display:inline-block; line-height:16px; padding:5px 0; overflow:auto; }

@media (orientation: portrait) {
	#pia .ps-button { padding:25px 6px; }
	#pia .ps-button.pa-scene { padding:25px 25px; }
	#pia .ui-slider .ui-slider-handle { width:30px; height:30px; }
	#pia .ui-slider-horizontal { height:20px; }
	#pia .ps-input { font-size:18px; padding:5px; }
	#pia span.hand.pa-hide { top:3px; }
	#pia span.wpa-indikator { top:8px; }
}
