/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 11.08.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 706                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: wpAnalogOut.css 706 2024-11-04 15:08:34Z                 $ #
//#                                                                                 #
//###################################################################################
?> wpAnalogOut */

.wpAnalogOut .topic-slider { margin:15px 0; }
.wpAnalogOut .topic-slider a { text-decoration:none; outline:none; }
.wpAnalogOut .topic-slider span.toleft {
	position:relative; top:-25px; left:10px; background:#151515;
	border:1px solid #888; border-radius:2px; padding:3px; }

.pickerContainer { padding:5px; border:1px solid #CCC; border-radius:10px; box-shadow:6px 6px 8px 0px #222; }
#RGBpicker { cursor:crosshair;
	background:transparent url(images/layout/ColorWheelBG.png) center center no-repeat; }
.colorPicker .ps-flex-container { margin:10px 0; }

@media (orientation: portrait) {
	.wpAnalogOut .ui-slider .ui-slider-handle { width:30px; height:30px; }
}

