/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 11.08.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 692                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: wpRGB.css 692 2024-08-07 11:51:08Z                       $ #
//#                                                                                 #
//###################################################################################
?> wpRGB */

.pickerContainer { padding:5px; border:1px solid #CCC; border-radius:10px; box-shadow:6px 6px 8px 0px #222; }
#RGBpicker { cursor:crosshair;
	background:transparent url(images/layout/ColorWheelBG.png) center center no-repeat; }
.colorPicker .ps-flex-container { margin:10px 0; }

.colorPicker { max-width:350px; margin:auto; }
.colorPicker .RGBSlider a { text-decoration:none; outline:none; }
.colorPicker .RGBSlider span.toleft {
	position:relative; top:-25px; left:10px; background:#151515;
	border:1px solid #888; border-radius:2px; padding:3px; }
.colorPicker .RGBSlider { margin:15px 0; }
.colorPicker .ps-input { min-width:40px; max-width:40px; width:40px; }
.colorPicker .RGBSliderR .ui-slider-range { background: #ef2929; }
.colorPicker .RGBSliderR .ui-slider-handle { background: #ef2929; }
.colorPicker .RGBSliderG .ui-slider-range { background: #8ae234; }
.colorPicker .RGBSliderG .ui-slider-handle { background: #8ae234; }
.colorPicker .RGBSliderB .ui-slider-range { background: #729fcf; }
.colorPicker .RGBSliderB .ui-slider-handle { background: #729fcf; }
.colorPicker .RGBColorPreview,
.colorPicker .colorBorder,
.colorPicker .colorBorderFav { border:1px solid #CCC;
	box-shadow:inset 3px 3px 6px #222; border-radius:3px; }
.colorPicker .RGBColorPreview { display:inline-block; min-width:150px; height:25px;
	box-shadow:inset 3px 3px 6px #888, inset -3px -3px 4px #000; }
.colorPicker .colorBorderContainer { padding:2px; }
.colorPicker .colorBorder { width:20px; height:20px; cursor:pointer; }
.colorPicker .colorBorderFav { width:30px; height:30px; cursor:pointer; }

@media (orientation: portrait) {
	.colorPicker .ps-button { padding:25px 6px; }
	.colorPicker .ps-button.pa-scene { padding:25px 25px; }
	.colorPicker .ui-slider .ui-slider-handle { width:30px; height:30px; }
	.colorPicker .ui-slider-horizontal { height:20px; }
	.colorPicker .ps-input { font-size:18px; padding:5px; }
	.colorPicker span.hand.pa-hide { top:3px; }
	.colorPicker span.wpa-indikator { top:8px; }
}

