/*<?
//###################################################################################
//#                                                                                 #
//#              (C) FreakaZone GmbH                                                #
//#              =======================                                            #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 21.01.2014                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 505                                                     $ #
//# Author       : $Author:: checker                                              $ #
//# File-ID      : $Id:: changepassword.css 505 2021-05-07 21:55:45Z checker      $ #
//#                                                                                 #
//###################################################################################
?> changepassword */

#changepassword { padding:20px; /*background:transparent url(images/Logo.png) center top no-repeat; */ }
#changepassword fieldset { width:500px; padding:20px; margin:10px auto 0; border-radius:6px; }
#changepassword legend { padding:3px 30px; }
#changepassword input { width:200px; float:right; }
#changepassword select { width:200px; float:right; margin-right:50px; }
#changepassword label { display:inline-block; width:230px; text-align:right; line-height:25px; }
#changepassword div.row { height:25px; clear:both; }
#changepassword div.error { text-align:center; color:#A91919; }
#changepassword div.entry, #changepassword p.p-help { clear:both; }
#changepassword .osk { float:right; }

#dialog div.popup { width:auto; }
