/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 13.06.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 684                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: d1mini.css 684 2024-07-23 21:58:22Z                      $ #
//#                                                                                 #
//###################################################################################
?> d1mini */
#d1mini h2, #d1mini p { text-align: center; }
#d1mini table { margin:auto; }
#d1mini .buttonContainer { text-align:center; }
#d1mini .topic-slider { margin:10px 0; }
#d1mini .colorBorderContainer { padding:2px; }
#d1mini .colorBorder { border:1px solid #666; width:20px; height:20px; }
#d1mini .colorpreview { display:inline-block; min-width:150px; height:25px; border:1px solid #CCC; border-radius:2px; }
#d1mini .setNeoPixelEffect, #d1mini .ModeName { width:auto; min-width:100px; }

#dialog .newDpVal { width:auto; min-width:250px; }

#colorPicker { max-width:350px; margin:auto; }
#colorPicker .rgb-slider { margin:15px 0; }
#picker { border:1px solid #CCC; border-radius:10px; box-shadow:6px 6px 8px 0px #222; cursor:crosshair; }
#rVal .ui-slider-range { background: #ef2929; }
#rVal .ui-slider-handle { background: #ef2929; }
#gVal .ui-slider-range { background: #8ae234; }
#gVal .ui-slider-handle { background: #8ae234; }
#bVal .ui-slider-range { background: #729fcf; }
#bVal .ui-slider-handle { background: #729fcf; }
#wwVal .ui-slider-range { background: #f1f17e; }
#wwVal .ui-slider-handle { background: #f1f17e; }
#cwVal .ui-slider-range { background: #e3eaf7; }
#cwVal .ui-slider-handle { background: #e3eaf7; }

