/*<?
//###################################################################################
//#                                                                                 #
//#              (C) FreakaZone GmbH                                                #
//#              =======================                                            #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 03.04.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 594                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: d1minibrowse.css 594 2024-04-29 17:52:07Z                $ #
//#                                                                                 #
//###################################################################################
?> d1minibrowse */

#d1minibrowse table { margin:auto; }
#d1minibrowse td, th { padding:2px 5px; }
#d1minibrowse td { border:1px solid #CCC; }
#d1minibrowse td.buttonbox { border:none; }
#d1minibrowse .buttonContainer { float:right; }
#d1minibrowse .buttonContainer .ps-image-button { display:inline-block; }

#dialog select.ps-input { min-width:300px; padding:2px 5px }
