/*<?
//###################################################################################
//#                                                                                 #
//#              (C) FreakaZone GmbH                                                #
//#              =======================                                            #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 03.04.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 719                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: d1minicfg.css 719 2025-02-13 12:27:37Z                   $ #
//#                                                                                 #
//###################################################################################
?> d1miniactive */

#submenu { height:20px; padding:0 0 5px 50px; }
#submenu li { float:left; }
#d1minicfg { margin:10px 50px; }

#d1minicfg ul { margin-left:30px; }
#d1minicfg div.td, #d1minicfg div.th { padding:2px 5px; }

div.divupdate div, div.divinsert { border:1px solid #CCC; padding:3px 5px; margin:3px; display:inline-block; border-radius:6px; }

#d1miniactive .erg table { margin:auto; }
#d1miniactive td, th { padding:2px 5px; }
#d1miniactive td { border:1px solid #CCC; white-space:nowrap; }
#d1miniactive td.buttonbox { border:none; }
#d1miniactive .tdButton { display:flex; justify-content:space-between; }
#d1miniactive .smallfont { font-size:11px; }
/*#d1miniactive .buttonContainer { float:right; }*/
#d1miniactive .buttonContainer .ps-image-button { display:inline-block; float:none; }
#d1miniactive .versionContainer { margin:15px; text-align:center; }
#d1miniactive .versionContainer span { padding:5px 10px; border:1px solid #CCC; border-radius:3px; }
#d1miniactive [data-column="name"] .stored { cursor:pointer; }
#d1miniactive .showJson.closed { height:0px; overflow:hidden; }
#d1miniactive .border-red { box-shadow:0 0 10px 5px #A91919; }
#dialog select.ps-input { min-width:300px; padding:2px 5px }
