/*<?
//###################################################################################
//#                                                                                 #
//#              (C) FreakaZone GmbH                                                #
//#              =======================                                            #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 27.02.2025                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 729                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: sys_d1mini.css 729 2025-02-27 22:40:52Z                  $ #
//#                                                                                 #
//###################################################################################
?> d1mini */

#d1mini h1, #d1mini h2, #d1mini h3 { text-align:center; }
#d1mini .ps-input { width:auto; }
#d1mini .serverinfo { position:fixed; top:85px; right:25px; color:#FFF; font-size:7pt; }
