/*<?
//###################################################################################
//#                                                                                 #
//#                (C) FreakaZone GmbH                                              #
//#                =======================                                          #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 20.10.2024                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 705                                                     $ #
//# Author       : $Author::                                                      $ #
//# File-ID      : $Id:: trendview.css 705 2024-10-20 17:29:42Z                   $ #
//#                                                                                 #
//###################################################################################
?> trendview */

#TrendviewContainer { height:500px; width:100%; }
#trendview .ps-button { width:auto; min-width:120px; }
#trendview .legendLabel { white-space:nowrap; text-align:left; }
#trendview h3 { text-align:center; }
