/*<?
//###################################################################################
//#                                                                                 #
//#              (C) FreakaZone GmbH                                                #
//#              =======================                                            #
//#                                                                                 #
//###################################################################################
//#                                                                                 #
//# Author       : Christian Scheid                                                 #
//# Date         : 06.03.2013                                                       #
//#                                                                                 #
//# Revision     : $Rev:: 505                                                     $ #
//# Author       : $Author:: checker                                              $ #
//# File-ID      : $Id:: usergroup.css 505 2021-05-07 21:55:45Z checker           $ #
//#                                                                                 #
//###################################################################################
?> usergroup */

#usergroup { padding:20px; }
#usergroup h3 { padding-left:20px; }
#usergroup p { padding-left:50px; }
